# Rendered by build-activitywatch-runtime-macos.sh
import os
import aw_core
import flask_restx

source = r"__SOURCE__"
placeholder = r"__PLACEHOLDER__"
aw_core_path = os.path.dirname(aw_core.__file__)
restx_path = os.path.dirname(flask_restx.__file__)

a = Analysis(
    [os.path.join(source, "__main__.py")], pathex=[source], binaries=[],
    datas=[
        (placeholder, "aw_server/static"),
        (os.path.join(restx_path, "templates"), "flask_restx/templates"),
        (os.path.join(restx_path, "static"), "flask_restx/static"),
        (os.path.join(aw_core_path, "schemas"), "aw_core/schemas"),
    ], hiddenimports=[], hookspath=[], runtime_hooks=[], excludes=[]
)
pyz = PYZ(a.pure)
exe = EXE(pyz, a.scripts, [], exclude_binaries=True, name="aw-server", debug=False, strip=False, upx=False, console=True)
coll = COLLECT(exe, a.binaries, a.datas, strip=False, upx=False, name="aw-server")
