source = r"__SOURCE__"
runtime_hook = r"__RUNTIME_HOOK__"
a = Analysis(
    [source + "/aw_watcher_window/__main__.py"], pathex=[source], binaries=[],
    datas=[(source + "/aw_watcher_window/printAppStatus.jxa", "aw_watcher_window")],
    hiddenimports=[], hookspath=[], runtime_hooks=[runtime_hook], excludes=[]
)
pyz = PYZ(a.pure)
exe = EXE(pyz, a.scripts, [], exclude_binaries=True, name="aw-watcher-window", debug=False, strip=False, upx=False, console=True)
coll = COLLECT(exe, a.binaries, a.datas, strip=False, upx=False, name="aw-watcher-window")
